$whiteColor: #ffffff;
$backgroundColor: #000000;
$actionDefaultColor: #000000;
$startButtonHoverColor: #2ea44f;
$bodyColor: #707070;
$bodyColorField1: #196d1a;
$bodyColorField2: #004f00;
$cardColor: #eeeeee;
$cardBorder: #222222;
$cardsShirtColor: #555555;
$actionBtnDiscardColor: #2ea44f;
$actionBtnGrabCardColor: #fd7e14;
