@import "colors";
@import "prefabs";

body {
  font-family: sans-serif;
  font-size: 16px;

  .game {
    background: $backgroundColor;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @import "startPage";
  }
}
